
block body

form(action='/dashboard' method='post')
	each val in pets
		if (val.flag === 1)
			input(type='checkbox' name='vehicle' value=val checked='')
			|  #{val.name} - Rs #{val.cost}
			br
		else
			input(type='checkbox' name='vehicle' value=val)
			|  #{val.name} - Rs #{val.cost}
			br
	input(type='submit' value='Submit')





