
block body

form(action='/addPets' method='post')
	each val in pets
		if (val.flag === 1)
			input(type='checkbox' name='vehicle' value=val checked='')
			|  I have a #{val.name} #{val.flag} #{val}
			br
		else
			input(type='checkbox' name='vehicle' value=val)
			|  I have a #{val.name} #{val.flag} #{val}
			br
	input(type='submit' value='Submit')





